<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>section</key>
		<integer>0</integer>
		<key>id</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>menuCell</string>
		<key>childRows</key>
		<integer>3</integer>
		<key>visible</key>
		<true/>
		<key>expanded</key>
		<true/>
		<key>expandable</key>
		<true/>
	</dict>
	<dict>
		<key>section</key>
		<integer>0</integer>
		<key>id</key>
		<integer>1</integer>
		<key>cellIdentifier</key>
		<string>updateCell</string>
		<key>childRows</key>
		<integer>2</integer>
		<key>visible</key>
		<true/>
		<key>expanded</key>
		<false/>
		<key>expandable</key>
		<false/>
	</dict>
	<dict>
		<key>section</key>
		<integer>0</integer>
		<key>id</key>
		<integer>2</integer>
		<key>cellIdentifier</key>
		<string>switchCell</string>
		<key>childRows</key>
		<integer>0</integer>
		<key>visible</key>
		<true/>
		<key>expanded</key>
		<false/>
		<key>expandable</key>
		<false/>
	</dict>
	<dict>
		<key>section</key>
		<integer>0</integer>
		<key>id</key>
		<integer>3</integer>
		<key>cellIdentifier</key>
		<string>switchCellDouble</string>
		<key>childRows</key>
		<integer>0</integer>
		<key>visible</key>
		<true/>
		<key>expanded</key>
		<false/>
		<key>expandable</key>
		<false/>
	</dict>
	<dict>
		<key>section</key>
		<integer>0</integer>
		<key>cellIdentifier</key>
		<string>shadowCell</string>
		<key>visible</key>
		<true/>
		<key>expanded</key>
		<false/>
		<key>expandable</key>
		<false/>
	</dict>
	<dict>
		<key>section</key>
		<integer>1</integer>
		<key>id</key>
		<integer>7</integer>
		<key>cellIdentifier</key>
		<string>menuCell</string>
		<key>childRows</key>
		<integer>4</integer>
		<key>visible</key>
		<true/>
		<key>expanded</key>
		<false/>
		<key>expandable</key>
		<true/>
	</dict>
	<dict>
		<key>section</key>
		<integer>1</integer>
		<key>id</key>
		<integer>8</integer>
		<key>cellIdentifier</key>
		<string>designCell</string>
		<key>childRows</key>
		<integer>0</integer>
		<key>visible</key>
		<false/>
		<key>expanded</key>
		<false/>
		<key>expandable</key>
		<false/>
	</dict>
	<dict>
		<key>section</key>
		<integer>1</integer>
		<key>id</key>
		<integer>9</integer>
		<key>cellIdentifier</key>
		<string>designCell</string>
		<key>childRows</key>
		<integer>0</integer>
		<key>visible</key>
		<false/>
		<key>expanded</key>
		<false/>
		<key>expandable</key>
		<false/>
	</dict>
	<dict>
		<key>section</key>
		<integer>1</integer>
		<key>id</key>
		<integer>10</integer>
		<key>cellIdentifier</key>
		<string>designCell</string>
		<key>childRows</key>
		<integer>0</integer>
		<key>visible</key>
		<false/>
		<key>expanded</key>
		<false/>
		<key>expandable</key>
		<false/>
	</dict>
	<dict>
		<key>section</key>
		<integer>1</integer>
		<key>id</key>
		<integer>11</integer>
		<key>cellIdentifier</key>
		<string>designCell</string>
		<key>childRows</key>
		<integer>0</integer>
		<key>visible</key>
		<false/>
		<key>expanded</key>
		<false/>
		<key>expandable</key>
		<false/>
	</dict>
	<dict>
		<key>section</key>
		<integer>1</integer>
		<key>cellIdentifier</key>
		<string>shadowCell</string>
		<key>visible</key>
		<true/>
		<key>expanded</key>
		<false/>
		<key>expandable</key>
		<false/>
	</dict>
	<dict>
		<key>section</key>
		<integer>2</integer>
		<key>id</key>
		<integer>12</integer>
		<key>cellIdentifier</key>
		<string>menuCell</string>
		<key>childRows</key>
		<integer>3</integer>
		<key>visible</key>
		<true/>
		<key>expanded</key>
		<false/>
		<key>expandable</key>
		<true/>
	</dict>
	<dict>
		<key>section</key>
		<integer>2</integer>
		<key>id</key>
		<integer>13</integer>
		<key>cellIdentifier</key>
		<string>textCell</string>
		<key>childRows</key>
		<integer>0</integer>
		<key>visible</key>
		<false/>
		<key>expanded</key>
		<false/>
		<key>expandable</key>
		<false/>
	</dict>
	<dict>
		<key>section</key>
		<integer>2</integer>
		<key>id</key>
		<integer>14</integer>
		<key>cellIdentifier</key>
		<string>textCell</string>
		<key>childRows</key>
		<integer>0</integer>
		<key>visible</key>
		<false/>
		<key>expanded</key>
		<false/>
		<key>expandable</key>
		<false/>
	</dict>
	<dict>
		<key>section</key>
		<integer>2</integer>
		<key>id</key>
		<integer>15</integer>
		<key>cellIdentifier</key>
		<string>textCell</string>
		<key>childRows</key>
		<integer>0</integer>
		<key>visible</key>
		<false/>
		<key>expanded</key>
		<false/>
		<key>expandable</key>
		<false/>
	</dict>
	<dict>
		<key>section</key>
		<integer>2</integer>
		<key>cellIdentifier</key>
		<string>shadowCell</string>
		<key>visible</key>
		<true/>
		<key>expanded</key>
		<false/>
		<key>expandable</key>
		<false/>
	</dict>
	<dict>
		<key>childRows</key>
		<integer>0</integer>
		<key>id</key>
		<integer>16</integer>
		<key>expanded</key>
		<false/>
		<key>expandable</key>
		<false/>
		<key>visible</key>
		<true/>
		<key>section</key>
		<integer>3</integer>
		<key>cellIdentifier</key>
		<string>copyrightCell</string>
	</dict>
</array>
</plist>
